<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.admin.sys.dao.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.easy.admin.sys.model.SysUserRole">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

    <select id="selectPermissionsByUserId" resultType="java.lang.String">
        select p.code from sys_permissions p
          left join sys_role_permissions rp on rp.permissions_id = p.id
          left join sys_user_role ur on ur.role_id = rp.role_id
        where ur.user_id = #{userId} and p.status = #{status} and p.code != ''
    </select>

    <select id="selectRoleByUserId" resultType="java.lang.String">
        select r.code from sys_role r
          left join sys_user_role ur on ur.role_id = r.id
        where ur.user_id = #{userId} and r.status = #{status} and r.code != ''
    </select>
    <select id="selectRoleIdByUserId" resultType="java.lang.String">
        select r.id from sys_role r
           left join sys_user_role ur on ur.role_id = r.id
        where ur.user_id = #{userId} and r.status = #{status} and r.code != ''
    </select>
    <select id="selectRoleNameByUserId" resultType="java.lang.String">
        select r.name from sys_role r
           left join sys_user_role ur on ur.role_id = r.id
        where ur.user_id = #{userId} and r.status = #{status} and r.code != ''
    </select>
    <select id="selectMenusByUserId" resultType="com.easy.admin.sys.model.SysPermissions">
        select p.path,p.target,p.target,p.hide,p.component,p.name,p.id,p.icon,p.p_id,p.order_no from sys_permissions p
          left join sys_role_permissions rp on rp.permissions_id = p.id
          left join sys_user_role ur on ur.role_id = rp.role_id
        where ur.user_id = #{userId} and p.status = #{status} and p.type = #{type}
        group by p.path,p.component,p.name,p.id,p.icon,p.p_id,p.order_no
        order by p.order_no
    </select>

</mapper>