<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.admin.cms.dao.CmsArticleColumnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easy.admin.cms.model.CmsArticleColumn">
        <result column="id" property="id" />
        <result column="article_id" property="articleId" />
        <result column="column_id" property="columnId" />
        <result column="order_no" property="orderNo" />
        <result column="create_user" property="createUser" />
        <result column="create_date" property="createDate" />
    </resultMap>
    <delete id="deleteByArticleId">
        delete from cms_article_column where article_id = #{articleId};
    </delete>
    <delete id="deleteBySiteId">
        delete from cms_article_column where column_id in (select id from cms_article where site_id = #{siteId});
    </delete>
    <select id="getCmsColumnIdByArticleId" resultType="java.lang.String">
        select cac.column_id from cms_article_column cac where cac.article_id = #{articleId}
    </select>
    <select id="getCmsColumnByArticleId" resultType="com.easy.admin.cms.model.CmsColumn">
        select t.id, t.p_id, t.site_id, t.name, t.slug, t.type, t.is_release, t.cover_proportion_width, t.cover_proportion_height,
            t.description, t.remarks, t.status
        from cms_column t
            left join cms_article_column cac on cac.column_id = t.id
        where cac.article_id = #{articleId}
    </select>
    <select id="selectCountByColumnId" resultType="java.lang.Integer">
        select count(1) from cms_article_column where column_id = #{columnId}
    </select>
    <select id="selectColumnsByArticleId" resultType="java.lang.String">
        select cac.column_id from cms_article_column cac where cac.article_id = #{articleId}
    </select>
    <select id="selectColumnByArticleId" resultType="com.easy.admin.cms.model.CmsColumn">
        select cc.id, cc.site_id from cms_article_column cac
        left join cms_column cc on cc.id = cac.column_id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>
