<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.admin.cms.dao.CmsColumnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easy.admin.cms.model.CmsColumn">
        <result column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="site_id" property="siteId" />
        <result column="name" property="name" />
        <result column="slug" property="slug" />
        <result column="type" property="type" />
        <result column="is_release" property="isRelease" />
        <result column="cover_proportion_width" property="coverProportionWidth" />
        <result column="cover_proportion_height" property="coverProportionHeight" />
        <result column="description" property="description" />
        <result column="remarks" property="remarks" />
        <result column="order_no" property="orderNo" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="create_user" property="createUser" />
        <result column="create_date" property="createDate" />
        <result column="edit_user" property="editUser" />
        <result column="edit_date" property="editDate" />
    </resultMap>
    <select id="select" resultType="com.easy.admin.cms.model.CmsColumn">
        select t.id, t.site_id, t.parent_id, t.name, t.slug, t.type, t.is_release,
               t.status, su_edit_user.nickname as edit_user, t.edit_date
        from cms_column t
        left join sys_user su_edit_user on su_edit_user.id = t.edit_user
        <where>
            ${ew.sqlSegment}
        </where>
        order by t.order_no
    </select>

    <select id="selectAll" resultType="com.easy.admin.common.core.common.tree.Tree">
        select t.id, t.parent_id, t.name as title, t.id as `key`
        from cms_column t
        where t.site_id = #{siteId} and t.status = #{status}
        order by t.order_no
    </select>

    <select id="getById" resultType="com.easy.admin.cms.model.CmsColumn">
        select t.id, t.parent_id, t.site_id, t.name, t.slug, t.type, t.is_release,
               t.description, t.remarks, t.order_no, t.status, t.version
        from cms_column t
        where t.id = #{id}
    </select>
    <select id="getMaxOrderNo" resultType="java.lang.Integer">
        select ifnull(max(order_no), 0)
        from cms_column t
        where t.parent_id = #{parentId}
    </select>
    <update id="updateOrderBatch">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update cms_column
            <set>
                parent_id = #{item.parentId},
                order_no = #{item.orderNo}
            </set>
            where id = #{item.id}
        </foreach>
    </update>
    <update id="updateDuplicateData">
        update sys_import_excel_temporary
        set verification_results = concat(ifnull(verification_results, ''), '业务中已存在（', field3, '）数据;'),
            verification_status  = #{status}
        where id in (
            select id from (
               select siet.id
               from cms_column cc
                        left join sys_import_excel_temporary siet on siet.field1 = cc.site_id and siet.field3 = cc.slug
               where siet.template_id = #{templateId} and siet.field3 is not null
           ) t
        );
    </update>

    <update id="updateAfterImport">
        update cms_column set create_user = #{userId}, create_date = #{date}, edit_user = #{userId}, edit_date = #{date} where create_user is null
    </update>
    <select id="selectAllColumn" resultType="com.easy.admin.cms.model.CmsColumn">
        select t.id, t.parent_id, t.site_id, t.name, t.slug, t.type, t.is_release, t.description,
        t.remarks, t.order_no, t.status
        from cms_column t
        where t.status = #{status}
        <if test="siteId != null">
            and t.site_id = #{siteId}
        </if>
    </select>
    <select id="exportData" resultType="com.easy.admin.cms.model.CmsColumn">
        select t.site_id, cc.slug as parent_id, t.name, t.slug, t.type, sd_is_release.name as is_release,
               t.description, t.remarks, t.order_no, sd_status.name as status
        from cms_column t
        left join cms_column cc on cc.site_id = t.site_id and cc.id = t.parent_id
        left join sys_dict sd_is_release on sd_is_release.code = t.is_release and sd_is_release.dict_type = 'whether'
        left join sys_dict sd_status on sd_status.code = t.status and sd_status.dict_type = 'commonStatus'
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="selectNeedUpdateParentInfo" resultType="com.easy.admin.cms.model.CmsColumn">
        select cc.id, pcc.id as parent_id
        from cms_column cc
        left join cms_column pcc on pcc.slug = cc.parent_id and pcc.site_id = cc.site_id
        where cc.parent_id is not null and cc.create_user is null and pcc.id is not null
    </select>
    <select id="selectBySlug" resultType="com.easy.admin.cms.model.CmsColumn">
        select t.id, t.parent_id, t.site_id, t.name, t.slug, t.type, t.is_release, t.description, t.remarks, t.status, cc.name as parentName
        from cms_column t
            left join cms_column cc on cc.id = t.parent_id
        where t.slug= #{slug} and t.site_id = #{siteId}
    </select>
    <select id="selectColumns" resultType="com.easy.admin.cms.model.CmsColumn">
        select t.id, t.site_id, t.name from cms_column t
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>
