<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.admin.cms.dao.CmsColumnUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easy.admin.cms.model.CmsColumnUser">
        <result column="id" property="id" />
        <result column="column_id" property="columnId" />
        <result column="user_id" property="userId" />
        <result column="create_user" property="createUser" />
        <result column="create_date" property="createDate" />
    </resultMap>
    <select id="selectUsersByColumnId" resultType="com.easy.admin.cms.model.CmsColumnUser">
        select t.user_id from cms_column_user t
          left join cms_column cc on cc.id = t.column_id
        where t.column_id = #{columnId} and cc.status = #{columnStatus}
    </select>
    <select id="selectColumnsByUserId" resultType="com.easy.admin.cms.model.CmsColumn">
        select t.id, t.p_id, t.name from cms_column t where t.site_id = #{siteId} and t.status = #{columnStatus} order by t.order_no
    </select>
</mapper>
