<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.admin.cms.dao.CmsPageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easy.admin.cms.model.CmsPage">
        <result column="id" property="id" />
        <result column="site_id" property="siteId" />
        <result column="title" property="title" />
        <result column="subtitle" property="subtitle" />
        <result column="content" property="content" />
        <result column="slug" property="slug" />
        <result column="template" property="template" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="create_user" property="createUser" />
        <result column="create_date" property="createDate" />
        <result column="edit_user" property="editUser" />
        <result column="edit_date" property="editDate" />
    </resultMap>
    <select id="select" resultType="com.easy.admin.cms.model.CmsPage">
        select t.id, t.site_id, t.title, t.slug, t.template, t.status, su_edit_user.nickname as edit_user, t.edit_date
        from cms_page t
        left join sys_user su_edit_user on su_edit_user.id = t.edit_user
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="getById" resultType="com.easy.admin.cms.model.CmsPage">
        select t.id, t.site_id, t.title, t.subtitle, t.content, t.slug, t.template, t.status, t.version, t.create_user, t.create_date, t.edit_user, t.edit_date
        from cms_page t
        where t.id = #{id}
    </select>
    <select id="selectAll" resultType="com.easy.admin.common.core.common.tree.Tree">
        select id, title from cms_page where site_id = #{siteId} and status = '${@com.easy.admin.common.core.common.status.CommonStatus@ENABLE.code}'
    </select>
    <select id="selectPages" resultType="com.easy.admin.cms.model.CmsPage">
        select t.id, t.site_id, t.title from cms_page t
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>
