<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.admin.cms.dao.CmsSiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easy.admin.cms.model.CmsSite">
        <result column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="keyword" property="keyword" />
        <result column="description" property="description" />
        <result column="domain_name" property="domainName" />
        <result column="deployment_path" property="deploymentPath" />
        <result column="theme" property="theme" />
        <result column="status" property="status" />
        <result column="order_no" property="orderNo" />
        <result column="tenant_id" property="tenantId" />
        <result column="version" property="version" />
        <result column="create_user" property="createUser" />
        <result column="create_date" property="createDate" />
        <result column="edit_user" property="editUser" />
        <result column="edit_date" property="editDate" />
    </resultMap>
    <select id="select" resultType="com.easy.admin.cms.model.CmsSite">
        select t.id, t.parent_id, t.name, t.domain_name, t.deployment_path, t.theme, t.status, t.order_no, su_edit_user.nickname as edit_user, t.edit_date
        from cms_site t
        left join sys_user su_edit_user on su_edit_user.id = t.edit_user
        <where>
            ${ew.sqlSegment}
        </where>
        order by t.order_no
    </select>

    <select id="selectAll" resultType="com.easy.admin.common.core.common.tree.Tree">
        select t.id, t.parent_id, t.name as title, t.id as `key`
        from cms_site t
        where t.status = '${@com.easy.admin.common.core.common.status.CommonStatus@ENABLE.code}'
        order by t.order_no
    </select>
    <select id="selectAllSite" resultType="com.easy.admin.cms.model.CmsSite">
        select t.id, t.parent_id, t.name, t.keyword, t.description, t.domain_name, t.deployment_path, t.status, t.theme
        from cms_site t where t.status = #{status}
    </select>
    <select id="getById" resultType="com.easy.admin.cms.model.CmsSite">
        select t.id, t.parent_id, t.name, t.keyword, t.description, t.domain_name, t.deployment_path, t.theme, t.status, t.order_no, t.tenant_id, t.version
        from cms_site t
        where t.id = #{id}
    </select>
    <select id="getMaxOrderNo" resultType="java.lang.Integer">
        select ifnull(max(order_no), 0)
        from cms_site t
        where t.parent_id = #{parentId}
    </select>
    <update id="updateOrderBatch">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update cms_site
            <set>
                parent_id = #{item.parentId},
                order_no = #{item.orderNo}
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <select id="exportData" resultType="com.easy.admin.cms.model.CmsSite">
        select t.name, t.keyword, t.description, t.domain_name, t.deployment_path, t.theme, sd_status.name as status, t.order_no
        from cms_site t
        left join sys_dict sd_status on sd_status.code = t.status and sd_status.dict_type = 'commonStatus'
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>
