<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.restful.sys.dao.SysPermissionsMapper">
    <resultMap id="BaseResultMap" type="com.easy.restful.sys.model.SysPermissions">
        <id column="id" property="id"/>
        <id column="p_id" property="pId"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="path" property="path"/>
        <result column="component" property="component"/>
        <result column="order_no" property="orderNo"/>
        <result column="type" property="type"/>
        <result column="hide" property="hide"/>
        <result column="status" property="status"/>
        <result column="target" property="target"/>
        <result column="tips" property="tips"/>
        <result column="create_user" property="createUser"/>
        <result column="create_date" property="createDate"/>
        <result column="edit_user" property="editUser"/>
        <result column="edit_date" property="editDate"/>
        <result column="version" property="version"/>
    </resultMap>

    <select id="selectByPId" resultType="com.easy.restful.common.core.common.tree.Tree">
        select t.id, t.p_id,t.name as title, t.icon, t.hide,
          (case when (select count(1) from sys_permissions where p_id = t.id) > 0 then 'false' else 'true' end ) as isLeaf
        from sys_permissions t
        where t.p_id = #{pId}
        order by t.order_no
    </select>
    <select id="selectInfo" resultType="com.easy.restful.sys.model.SysPermissions">
        select t.id,t.code,t.name,t.icon,t.path,t.hide,t.target,t.component,t.component,t.type,t.status,t.tips,t.p_id,p.name as pName
          from sys_permissions t
          left join sys_permissions p on p.id = t.p_id
        where t.id= #{id}
    </select>
    <select id="selectOrderInfo" resultType="com.easy.restful.sys.model.SysPermissions">
        select t.id,t.name,t.order_no
        from sys_permissions t
        where t.p_id = #{pId} order by t.order_no
        <if test="str != null and length != null">
            limit #{str},#{length}
        </if>
    </select>
    <select id="selectByTitle" resultType="com.easy.restful.common.core.common.tree.Tree">
        select t.id, t.p_id,t.icon, t.hide,t.name as title
        from sys_permissions t
        where t.name like #{title} order by t.p_id,t.order_no
    </select>
    <select id="getMaxOrderNo" resultType="java.lang.Integer">
        select ifnull(max(order_no), 0)
        from sys_permissions t
        where t.p_id = #{pId}
    </select>
    <select id="selectAll" resultType="com.easy.restful.common.core.common.tree.Tree">
        select t.id,t.icon, t.hide,t.name as title,t.p_id
        from sys_permissions t
        where t.status = #{status}
        order by t.order_no
    </select>
</mapper>