<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.restful.sys.dao.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.easy.restful.sys.model.SysRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_no" jdbcType="INTEGER" property="orderNo"/>
        <result column="p_id" jdbcType="BIGINT" property="pId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="tips" jdbcType="VARCHAR" property="tips"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="edit_user" jdbcType="BIGINT" property="editUser"/>
        <result column="edit_date" jdbcType="TIMESTAMP" property="editDate"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>

    <select id="selectByPId" resultType="com.easy.restful.common.core.common.tree.Tree">
        select t.id, t.p_id,t.name as title,(case when t.status = 2 then 'disabled' end) as type,
          (case when (select count(1) from sys_role where p_id = t.id) > 0 then 'false' else 'true' end ) as isLeaf
        from sys_role t where t.p_id = #{pId} order by t.order_no
    </select>
    <select id="selectAll" resultType="com.easy.restful.common.core.common.tree.Tree">
        select t.id,t.name as title,t.p_id from sys_role t where t.status = #{status} order by t.order_no
    </select>
    <select id="selectInfo" resultType="com.easy.restful.sys.model.SysRole">
        select t.id,t.p_id,t.name,t.code,t.dept_id,t.status,p.name as p_name,t.tips
        from sys_role t
          left join sys_role p on p.id = t.p_id
        where t.id= #{id}
    </select>
    <select id="selectPermissions" resultType="java.lang.String">
        select permissions_id from sys_role_permissions rp where rp.role_id = #{id}
    </select>
    <select id="selectOrderInfo" resultType="com.easy.restful.sys.model.SysRole">
        select t.id,t.name,t.order_no from sys_role t where t.p_id = #{pId} order by t.order_no
        <if test="str != null and length != null">
            limit #{str},#{length}
        </if>
    </select>
    <select id="selectByTitle" resultType="com.easy.restful.common.core.common.tree.Tree">
        select t.id, t.p_id,t.name as title
        from sys_role t where t.name like #{title} order by t.p_id,t.order_no
    </select>
    <select id="getMaxOrderNo" resultType="java.lang.Integer">
        select ifnull(max(order_no), 0) from sys_role t where t.p_id = #{pId}
    </select>

    <select id="selectRoleCodeByUserId" resultType="java.lang.String">
        select code from sys_role t
          left join sys_user_role sur on t.id = sur.role_id
        where sur.user_id = #{userId}
    </select>
    <select id="selectAllRoleCodes" resultType="java.lang.String">
        select code from sys_role t
    </select>
    <select id="selectRole" resultType="com.easy.restful.sys.model.SysRole">
        select t.id, t.code, t.name, t.tips from sys_role t
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>