<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.restful.sys.dao.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.easy.restful.sys.model.SysUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="password_strength" property="passwordStrength"/>
        <result column="salt" property="salt"/>
        <result column="nickname" property="nickname"/>
        <result column="sex" property="sex"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="birthday" property="birthday"/>
        <result column="dept_id" property="deptId"/>
        <result column="status" property="status"/>
        <result column="last_login" property="lastLogin"/>
        <result column="avatar" property="avatar"/>
        <result column="version" property="version"/>
        <result column="source" property="source"/>
        <result column="create_user" property="createUser"/>
        <result column="create_date" property="createDate"/>
        <result column="edit_user" property="editUser"/>
        <result column="edit_date" property="editDate"/>
    </resultMap>
    <update id="updateUserStatus">
        update sys_user set status = #{status}
        <where>
            ${ew.sqlSegment}
        </where>
    </update>
    <update id="updateUserLastLoginDate">
        update sys_user
        set last_login = #{lastLogin}
        where id = #{id}
    </update>
    <update id="resetPassword">
        update sys_user set password = #{password}, salt = #{salt}, password_strength = #{passwordStrength}
        <where>
            ${ew.sqlSegment}
        </where>
    </update>
    <select id="select" resultMap="BaseResultMap">
        select * from sys_user
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="selectUser" resultType="com.easy.restful.sys.model.SysUser">
        select distinct su.id, su.nickname, su.username, sd.name as depart_name from sys_user su
        left join sys_dept sd on sd.id = su.dept_id
        left join sys_user_role sur on sur.user_id = su.id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="selectInfo" resultType="com.easy.restful.sys.model.SysUser">
        select t.id,t.username,t.nickname,t.sex,t.email,t.phone,t.birthday,t.dept_id,t.status,t.avatar,t.source, sd.name as deptName, t.password_strength
        from sys_user t
        left join sys_dept sd on sd.id = t.dept_id
        where t.id = #{id}
    </select>
    <select id="selectRoles" resultType="java.lang.String">
        select role_id from sys_user_role ur where ur.user_id = #{id}
    </select>
    <select id="search" resultType="com.easy.restful.sys.model.SysUser">
        select u.id, u.username, u.nickname, u.email, u.phone, sd.name as deptName, u.avatar
        from sys_user u
            left join sys_dept sd on sd.id = u.dept_id
            left join sys_dept_type sdt on sdt.code = sd.type_code
        where u.status = #{status}
          and sd.status = #{deptStatus}
          and sdt.status = #{deptTypeStatus}
          and (u.username like #{keyword} or nickname like #{keyword} or sd.name like #{keyword})
        <if test="deptId != null">
          and sd.id = #{deptId}
        </if>
    </select>
    <select id="selectPasswordAndSalt" resultType="com.easy.restful.sys.model.SysUser">
        select u.password, u.salt from sys_user u where u.id = #{id}
    </select>
    <select id="selectUsersByIds" resultType="com.easy.restful.sys.model.SysUser">
        select u.id, u.username, u.nickname, u.email, u.phone, sd.name as deptName, u.avatar
        from sys_user u
             left join sys_dept sd on sd.id = u.dept_id
             left join sys_dept_type sdt on sdt.code = sd.type_code
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>