<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.restful.sys.dao.SysUserSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easy.restful.sys.model.SysUserSetting">
        <result column="id" property="id" />
        <result column="tip_type" property="tipType" />
        <result column="themes" property="themes" />
        <result column="fixed_footer" property="fixedFooter" />
        <result column="allow_aside_minimizing" property="allowAsideMinimizing" />
        <result column="fixed_header" property="fixedHeader" />
        <result column="page_loader" property="pageLoader" />
    </resultMap>

</mapper>
