<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.admin.scheduler.dao.SchedulerJobLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easy.admin.scheduler.model.SchedulerJobLog">
        <id column="id" property="id" />
        <result column="scheduler_job_id" property="schedulerJobId" />
        <result column="run_date" property="runDate" />
        <result column="time_consuming" property="timeConsuming" />
    </resultMap>

</mapper>
