<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.admin.auth.dao.SysRoleDataPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easy.admin.auth.model.SysRoleDataPermission">
        <result column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="dept_id" property="deptId" />
    </resultMap>

    <select id="selectWithoutPage" resultType="java.lang.String">
        select t.dept_id
        from sys_role_data_permission t
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>
