<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.admin.auth.dao.SysRolePermissionMapper">
    <resultMap id="BaseResultMap" type="com.easy.admin.auth.model.SysRolePermission">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="permission_id" property="permissionId"/>
    </resultMap>
    <select id="selectPermissionsByRoleId" resultType="com.easy.admin.auth.model.SysPermission">
        select * from sys_permission sp
        left join sys_role_permission srp on srp.permission_id = sp.id
        where sp.status = #{status} and srp.role_id = #{roleId}
    </select>
    <select id="selectSysPermissionByRoleId" resultType="com.easy.admin.auth.model.SysPermission">
        select sp.id, sp.parent_id, sp.type, sp.name, sp.title, sp.icon, sp.code, sp.path, sp.component, sp.external_link,
               sp.order_no, sp.show_in_menu, sp.open_mode
        from sys_permission sp
         left join sys_role_permission srp on srp.permission_id = sp.id
        where srp.role_id = #{roleId}
          and sp.status = #{status}
        order by sp.order_no
    </select>


</mapper>