<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.admin.auth.dao.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.easy.admin.auth.model.SysUserRole">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

    <select id="selectPermissionCodesByUserId" resultType="java.lang.String">
        select sm.auth_code
        from sys_menu sm
         left join sys_role_menu srm on srm.menu_id = sm.id
         left join sys_user_role sur on sur.role_id = srm.role_id
        where sur.user_id = #{userId}
          and sm.status = #{status}
          and sm.auth_code is not null
    </select>
    <select id="selectRoleByUserId" resultType="com.easy.admin.auth.model.vo.session.SessionUserRoleVO">
        select sr.id, sr.name, sr.code
        from sys_role sr
         left join sys_user_role sur on sur.role_id = sr.id
        where sur.user_id = #{userId}
          and sr.status = #{status}
          and sr.code is not null
    </select>
    <select id="selectAllRoleByUserId" resultType="java.lang.String">
        select t.role_id
        from sys_dept_type_role t
                 left join sys_role sr on sr.id = t.role_id
        where sr.status = #{status} and t.dept_type_id = (
            select sdt.id from sys_dept_type sdt where sdt.code = (
                select sd.type_code from sys_dept sd where sd.id = (
                    select su.dept_id from sys_user su where su.id = #{userId}
                )
            )
        )
    </select>

</mapper>